body {
  height: 100vh;
  box-sizing: border-box;
  padding-top: 2%;
}
.btn-start {
  padding: 15px 20px;
  margin-bottom: 2%;
}
.container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
.box {
  width: 100px;
  height: 100px;
  background-color: green;
  position: relative;
}